nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nb-configuration.xml
target/
*.class
*.jar
Thumbs.db
Desktop.ini
.DS_Store
*~
*.log
*.tmp
*.bak
data/guests_real.csv
data/reservations_real.csv
